.ant-row {
  flex-direction: column;
  align-items: start;
  gap: 20px;

  .ant-col {
    width: 100% !important;
    .ant-form-item-required {
      text-align: start !important;
      font-size: 20px !important;
      font-weight: 700 !important;
      color: #fff !important;
    }
  }
}

.ant-form-item .ant-form-item-label {
  text-align: start !important;
  .ant-form-item-required {
    color: #24c3bc !important;
  }
  > label {
    font-size: 14px;
    font-weight: 400;
    color: #fff !important;
    font-family: "Roboto";
  }
}

.ant-input-prefix,
.ant-input-show-count-suffix {
  color: #fff;
}

.ant-input {
  background: transparent;
}

.ant-input::placeholder {
  font-size: 16px !important;
  color: #3c3d4d !important;
  font-weight: 400 !important;
}

input,
select,
textarea {
  color: #fff;
}

textarea:focus,
input:focus {
  border: rgb(59 130 246 / 0.5);
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff !important;
}

.ant-select {
  display: flex;
  align-items: center;
  margin-top: 0px !important;
  .ant-select-selector {
    height: 51px !important;
  }
}

.ant-select-selector {
  height: 51px !important;
}

.ant-breadcrumb {
  color: #fff !important;
}

.ant-breadcrumb-separator {
  color: #fff !important;
}

.ant-breadcrumb-link {
  font-size: 14px;
  display: flex;
  gap: 4px;
  align-items: center;
  color: #fff !important;
}

.ant-breadcrumb-link > span {
  font-size: 14px;
  display: flex;
  gap: 4px;
  align-items: center;
  color: #c6c6c6 !important;
}

.ant-pagination-prev {
  background-color: #232631;
}

.ant-pagination-next {
  background-color: #232631;
}

.ant-pagination-item-active {
  border-radius: 10px !important;
}

.ant-pagination-item-active a {
  color: #1a1c24 !important;
}

.ant-pagination-item-ellipsis {
  color: #fff !important;
}

.ant-pagination-options {
  display: none !important;
}
